/**********  Pagination Section **********/
.pagination {
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
}
  
.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
  
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}