/**********  General Pop-Up Section **********/
.pop-up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-44.5%) scale(0);
    transition: 1.4s ease-in-out;
}

.pop-up.active {
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, .8)
}

.pop-up-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop-up-body {
    border: 2px solid black;
    margin: auto;
    width: 500px;
    height: 380px;
    background-color: white;
    border-radius: 10px;
    padding: 15px 0 25px;
    position: relative;
}

.pop-up-body h3 {
    margin-top: 20px;
    padding-left: 15px;
}

.pop-up-body input:focus {
    outline: none;
}

.pop-up-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

form hr {
    margin-top: 50px;
}

.bottom-buttons-div {
    float: right;
    margin-right: 15px;
}

.bottom-buttons-div .create-btn {
    cursor: pointer;
    margin-left: 25px;
}

.close-btn {
    cursor: pointer;
    padding: 5px 10px;
}

.ok-btn {
    cursor: pointer;
    padding: 5px 10px;
}

.cancel-btn {
    cursor: pointer;
    margin-left: 25px;
    padding: 5px 10px;
}

.select {
    cursor: pointer;
    /* Replace default styling (arrow) */
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23666666;" /></svg>');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 30px;
}

.select:focus, 
.select:hover {
    outline: none;
}

.student-form label {
    display: inline-block;
    padding-left: 50px;
    font-size: 16px;
    margin: 0.2cm;
    width: 140px;
}

.student-form {
    padding-top: 10px;
    width: 100%;
}


/**********  Add Students Pop-Up Section **********/
#add-btn-caption{
    text-align: right;
}

#btn-show-add-window {
    cursor: pointer;
    text-align: center;
    max-height: 45px;
    margin-bottom: 10px;
}

#form-add-student label {
    display: inline-block;
    padding-left: 50px;
    font-size: 16px;
    margin: 0.2cm;
    width: 140px;
}

#form-add-student {
    padding-top: 10px;
    width: 100%;
}


/**********  Delete Students Pop-Up Section **********/
#pop-up-delete-student-body {
    height: 300px;
}

#pop-up-delete-student p {
    font-weight: bold;
    text-align: center;
    margin: 75px 0;
}

#pop-up-delete-student h3 {
    margin-top: 0;
    padding-left: 15px;
}