/**********  Students Nav-Bar Section **********/
.navbar-toggler {
    margin-left: 1vw;
}

.students-nav-bar {
    list-style-type: none;
    margin: 2rem 0 0 0;
    padding: 0;
    width: 150px;
    background-color: white;
    height: 100%; /* Full height */
    position: fixed; 
    overflow: auto; 
}

.students-nav-bar-item a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
.students-nav-bar-item a:hover {
    background-color: #555;
    color: white;
}

li:last-child {
    border-bottom: none;
}