/**********  User Header Section **********/
.header {
    background-color: #808080;
    color: white;
    padding: 10px;
    width: 100%;
    min-height: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-profile-image {
    object-fit: cover;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.students-nav-bar-mobile-close {
    cursor: pointer;
    align-self: self-end;
}

.students-nav-bar-mobile {
    display: none;
}

.students-nav-bar-mobile-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-self: center;
}

.students-nav-bar-mobile-item {
    margin-bottom: 5px;
}

.students-nav-bar-mobile-item a {
    text-decoration: none;
    color: #fff;

}

.students-nav-bar-mobile-item:hover  {
    font-weight: bold;
}

.mobile-active {
    display: flex!important;
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #808080;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 10px;
}

.header__burger {
    display: none;
}

.user-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.notification-info {
    position: relative;
}

.fa-bell {
    color: white;
}

.fa-bell {
    transform-origin: 50% 0;
}

circle {
    stroke-width: 5px;
}

.fa-bell:hover {
    color: blue;
    /*animation: shake 1s linear 2;*/
}

/*#bell-icon:active {
    animation: shake 1s linear 2;
    transform-origin: 50% 0;
}*/

/*.user-info svg:hover{
    animation: jumping-dot 2s linear 2;
}*/

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-25deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes jumping-dot {
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

.notification-active {
    top: 5px;
    fill: red;
    stroke: "red";
}

.notification-inactive {
    top: 3px;
    fill: #808080;
    stroke: #808080;
}

.user-info svg {
    position: absolute;
    top: 1px;
    right: 1px;
}

.user-profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.user-info img {
    margin-left: 1rem;
    margin-right: 0.25rem;
}

.user-info img {
    border: 1px solid grey;
}

.user-info img:hover {
    border-color: blue;
}

.header p {
    display: inline;
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}


.notification-sub-menu-wrap {
    position: absolute;
    top: 15px;
    transform: translateX(-163px);
    left: 0;
    width: 125px;
}

.notification-sub-menu-wrap.submenu-active{
    visibility: visible;
    display: flex;
}

.notification-sub-menu-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
}

.notification-sub-menu-list-item {
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    max-height: 70px;
}   

.notification-sub-menu-list-item-content {
    border-radius: 5px;
    width: 100%;
    min-height: 40px;
    align-self: center;
    background-color: #CCCCCC;
    margin-left: 20px;
    padding: 5px;
    position: relative;
}

.notification-pointer  {
    position: absolute;
    top: 6px;
    left: -8px;
    width: 0;
    height: 0;
    border-right: 9px solid #CCCCCC;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.profile-placeholder-msg-img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    align-self: center;
    vertical-align: middle;
    margin: 0!important;
    padding: 0;
}

.notification-sub-menu-list-item-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;
    margin: 0;
    padding: 0;
}

.notification-sub-menu-wrap .notification-sub-menu {
    background: #fff;
    padding: 5px 20px;
    margin: 10px 0px;
    border: 1px solid #525252;
    overflow-y: scroll;
    max-height: 240px;
    display: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.user-sub-menu-wrap {
    position: absolute;
    top: 15px;
    right: -10px;
    width: 125px;
}

.user-sub-menu-wrap .user-sub-menu {
    background: #fff;
    padding: 10px 20px;
    margin: 10px 0px;
    border: 1px solid #525252;
    max-height: 180px;
    display: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.user-sub-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.user-sub-menu-link {
    text-decoration: none;
    color: #525252;
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.user-profile-submenu-p:hover {
    font-weight: 600;
    color: blue;
}

.user-sub-menu-wrap .submenu-active {
    display: flex;
    transform: translateY(0px);
}

.notification-sub-menu-wrap .submenu-active {
    display: block;
    transform: translateY(0px);
}

.notification-sub-menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    align-self: center;
    color: #525252;
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.notification-sub-menu-link p{
    width: 100%;
}

#notification-submenu-wrap {
    width: 320px;
}