/**********  Ensuring the Flexibility and Responsiveness **********/

@media screen and (max-width: 765px){
    td button {
        padding: 1px;
    }
}
@media screen and (max-width: 660px){
    .div-table {
        max-width: 300px;
        margin: 0 auto;
    }

    button.student-edit-btn {
        margin-right: 0px;
    }

    .students-nav-bar {
        display: none;
    }

    .header__burger {
        display: block;
        max-width: 50px;
        max-height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .student-table {
        max-width: 300px;
    }

    #btn-show-add-window {
        padding: 2px;
        margin-bottom: 2px!important;
    }

    .student-table-text {
        padding: 2px;
    }

    .student-table h2 {
        font-size: 2.5vw;
    }
    
    .pagination a{
        padding: 1px 2px !important;
    }
}