/**********  Students Table Section **********/
table, th, td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    caption-side: top;
}

th, td {
    padding: 15px;
}

.students-table-caption{
    padding: 0;
}

button.student-edit-btn {
    margin-right: 5px;
}

.students-table-caption h2{
    /*font-size: 18px;*/
    color: black;
    margin: 0;
}

td button {
    /*width: 25%;*/
    text-align: center;
    max-height: 45px;
}

.student-table-text {
    font-size: 1.75vw;
    max-width: 5%;
}

.student-table {
    margin-top: 50px;
}

.student-table h2 {
    font-weight: 100;
    text-align: left;
}

.active-user {
    color: green;
}

/*.active-user:hover{
    color: grey; 
}*/

.inactive-user {
    color: gray;
}

.div-table {
    margin-left: 10rem;
}

.div-table table {
    width: 95%;
    margin-left: auto;
    margin-right: 5rem;
}

.div-table button {
    cursor: pointer;
}
