/**********  General Selectors **********/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

button {
    border: 0.5px solid black;
    background-color: white;
    padding: 5px;
}

input[type=text], input[type=date], select {
    width: 12rem;
}

select {
    height: 19.2px;
}

input[type=submit] {
    border: 0.5px solid black;
    background-color: white;
    padding: 5px 10px;
}

hr {
    border: 1px solid black;
    margin: 20px 0 10px 0;
    width: 100%;
}
