<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="./scripts/tost.min.js" ></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/students_header.css" />
    <link rel="stylesheet" href="css/students_navbar.css" />
    <link rel="stylesheet" href="css/students_table.css" />
    <link rel="stylesheet" href="css/students_pagination.css" />
    <link rel="stylesheet" href="css/students_popups.css" />
    <link rel="stylesheet" href="css/students_media.css" />
    <link rel="stylesheet" href="css/tost.min.css" />

    <!-- Manifest file -->
    <link rel="manifest" href="/manifest.json" />

    <!-- Font Awesome - icons -->
    <script src="https://kit.fontawesome.com/703ca172b7.js"></script>


    <title>Chats</title>
  </head>
  <body>

    <div id="app" class="max-h-screen overflow-hidden">
            <!-- Header section -->
    <div class="header">
        <div class="header__burger" @click="toggleMobileMenu(true)">
            <svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="24" height="24" fill="#fff" fill-opacity="0.01"/>
                <path d="M7.94977 11.9498H39.9498" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7.94977 23.9498H39.9498" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7.94977 35.9498H39.9498" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
        </div>
        <p>CMS</p>

        <div class="user-info">
            <!-- Notification section -->
            <div class="notification-info" id="notification-info"  @mouseover="toggleMessagesDropdown(true)" @mouseleave="toggleMessagesDropdown(false)" >
                <i class="fa-regular fa-bell" id="bell-icon"></i>
                <svg height="5" width="5" class="notification-active">
                    <circle cx="2.5" cy="2.5" r="2">
                </svg>

                <!-- Notification submenu -->
                <div class="notification-sub-menu-wrap" id="notification-submenu-wrap" style="padding-top: 15px!important;"  v-if="showMessagesDropdown"  >
                    <div class="notification-sub-menu" id="notification-submenu" style="display: block!important;">
                        <ul class="notification-sub-menu-list">
                            <li class="notification-sub-menu-list-item">
                                <div class="notification-sub-menu-list-item-user">
                                    <img src="images/profile_placeholder_msg2.png" alt="profile placeholder msg" class="profile-placeholder-msg-img">
                                    <a href="#" class="notification-sub-menu-link">User1</a>
                                </div>
                                <div class="notification-sub-menu-list-item-content">

                                    <div class="notification-pointer">
                                    </div>
                                </div>
                                <!--<p>User1 message</p>-->
                            </li>
                            <li class="notification-sub-menu-list-item">
                                <div class="notification-sub-menu-list-item-user">
                                    <img src="images/profile_placeholder_msg2.png" alt="profile placeholder msg" class="profile-placeholder-msg-img">
                                    <a href="#" class="notification-sub-menu-link">User2</a>
                                </div>
                                <div class="notification-sub-menu-list-item-content">

                                    <div class="notification-pointer">
                                    </div>
                                </div>
                                <!--<p>User1 message</p>-->
                            </li>
                            <li class="notification-sub-menu-list-item">
                                <div class="notification-sub-menu-list-item-user">
                                    <img src="images/profile_placeholder_msg2.png" alt="profile placeholder msg" class="profile-placeholder-msg-img">
                                    <a href="#" class="notification-sub-menu-link">User3</a>
                                </div>
                                <div class="notification-sub-menu-list-item-content">

                                    <div class="notification-pointer">
                                    </div>
                                </div>
                                <!--<p>User1 message</p>-->
                            </li>
                            <li class="notification-sub-menu-list-item">
                                <div class="notification-sub-menu-list-item-user">
                                    <img src="images/profile_placeholder_msg2.png" alt="profile placeholder msg" class="profile-placeholder-msg-img">
                                    <a href="#" class="notification-sub-menu-link">User4</a>
                                </div>
                                <div class="notification-sub-menu-list-item-content">

                                    <div class="notification-pointer">
                                    </div>
                                </div>
                                <!--<p>User1 message</p>-->
                            </li>
                            <li class="notification-sub-menu-list-item">
                                <div class="notification-sub-menu-list-item-user">
                                    <img src="images/profile_placeholder_msg2.png" alt="profile placeholder msg" class="profile-placeholder-msg-img">
                                    <a href="#" class="notification-sub-menu-link">User5</a>
                                </div>
                                <div class="notification-sub-menu-list-item-content">

                                    <div class="notification-pointer">
                                    </div>
                                </div>
                                <!--<p>User1 message</p>-->
                            </li>
                        </ul>
                            
                    </div>
                </div>
            </div>

            <!-- User profile section -->
            <div class="user-profile" @mouseover="toogleProfileDropDown(true)" @mouseleave="toogleProfileDropDown(false)">
                <img src="images/user_1.png" class="user-profile-image" alt="user icon">
                <p>James Bond</p>

                <!-- User-profile submenu -->
                <div class="user-sub-menu-wrap">
                    <div class="user-sub-menu" :class="showProfileDropdown ? 'submenu-active' : ''" id="user-profile-submenu">
                        <a href="#" class="user-sub-menu-link">
                            <p class="user-profile-submenu-p">Profile</p>
                        </a>
                        <a href="#" class="user-sub-menu-link">
                            <p class="user-profile-submenu-p">Log Out</p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <!-- NavBar section -->
    <ul class="students-nav-bar">
        <li class="students-nav-bar-item"><a href="dashboard.html">Dashboard</a></li>
        <li class="students-nav-bar-item"><a href="students.html">Students</a></li>
        <li class="students-nav-bar-item"><a href="tasks.html">Tasks</a></li>
    </ul>
    <div class="students-nav-bar-mobile" id="navbar-mobile" :class="showMobileMenu ? 'mobile-active' : ''">
        <div class="students-nav-bar-mobile-close" @click="toggleMobileMenu(false)">            
            <svg class="svg-icon" style="width: 1em; height: 1em;vertical-align: middle;fill: #fff;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M810.65984 170.65984q18.3296 0 30.49472 12.16512t12.16512 30.49472q0 18.00192-12.32896 30.33088l-268.67712 268.32896 268.67712 268.32896q12.32896 12.32896 12.32896 30.33088 0 18.3296-12.16512 30.49472t-30.49472 12.16512q-18.00192 0-30.33088-12.32896l-268.32896-268.67712-268.32896 268.67712q-12.32896 12.32896-30.33088 12.32896-18.3296 0-30.49472-12.16512t-12.16512-30.49472q0-18.00192 12.32896-30.33088l268.67712-268.32896-268.67712-268.32896q-12.32896-12.32896-12.32896-30.33088 0-18.3296 12.16512-30.49472t30.49472-12.16512q18.00192 0 30.33088 12.32896l268.32896 268.67712 268.32896-268.67712q12.32896-12.32896 30.33088-12.32896z"  /></svg>
        </div>
        <ul class="students-nav-bar-mobile-links">
            <li class="students-nav-bar-mobile-item"><a href="dashboard.html">Dashboard</a></li>
            <li class="students-nav-bar-mobile-item"><a href="students.html">Students</a></li>
            <li class="students-nav-bar-mobile-item"><a href="tasks.html">Tasks</a></li>
        </ul>
    </div>
    <h1 class="gap-10 ml-44 mt-9 mb-2 text-3xl">Messages</h1>
      <div class="flex flex-row justify-start gap-24 ml-44 " style="height: calc(100vh - 156px);">

        <div class="h-full w-3/12 border border-gray-500 py-2 px-4 overflow-y-auto flex flex-col justify-start gap-4" style="max-height: calc(100vh - 156px);">
            <div class="flex flex-row justify-between items-end">
                <span class="text-sm xl:text-2xl text-bold text-gray-800 ">Chat room</span>
                <div class="flex flex-col">
                    <span class="text-xs xl:text-lg hover:text-purple-300 cursor-pointer" @click="toggleRoomPopup(true)">+ new chat room</span>
                    <span class="text-xs xl:text-lg hover:text-purple-300 cursor-pointer" @click="toggleDirectPopup(true)">+ add friend</span>
                </div>
            </div>
            <!-- room -->
            <div v-if="rooms?.length" v-for="room in rooms" :key="room._id" @click="joinToRoom(room._id)" class=" flex flex-row justify-start items-center gap-4 w-full h-16 bg-gray-200 rounded-xl p-4 hover:bg-purple-200 cursor-pointer">
                <img src="images/user_1.png" class="h-9 w-9 rounded-full object-cover" alt="user icon">
                <span class="w-full">{{ !room.isDirect ? room?.title : room?.users?.find(item => item !== localUsername) }}</span>
            </div>
  
        </div>
        <!-- opened room -->
        <div v-if="selectedRoom" class="h-full w-7/12 border border-gray-500 py-2 px-4 overflow-y-auto flex flex-col justify-between items-start gap-4" style="max-height: calc(100vh - 156px);">
            <div class="h-3/12 flex flex-col gap-2 ">
                <span class="text-xl">Chat {{ !selectedRoom.isDirect ? selectedRoom?.title : selectedRoom?.users?.find(item => item !== localUsername)  }}</span>
                <span class="text-xl" v-if="!selectedRoom.isDirect">Members</span>
                <div class="flex flex-row justify-start items-center gap-4" v-if="!selectedRoom.isDirect">
                    <img v-for="item in selectedRoom.users" :key="item" src="images/user_1.png" class="h-7 w-7 rounded-full object-cover" alt="user icon">
                    <div class="w-8 h-8 bg-gray-300 rounded-full cursor-pointer" @click="toggleInvitePopup(true)">
                        <svg fill="#fff" width="100%" height="100%" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 0c-8.836 0-16 7.163-16 16s7.163 16 16 16c8.837 0 16-7.163 16-16s-7.163-16-16-16zM16 30.032c-7.72 0-14-6.312-14-14.032s6.28-14 14-14 14 6.28 14 14-6.28 14.032-14 14.032zM23 15h-6v-6c0-0.552-0.448-1-1-1s-1 0.448-1 1v6h-6c-0.552 0-1 0.448-1 1s0.448 1 1 1h6v6c0 0.552 0.448 1 1 1s1-0.448 1-1v-6h6c0.552 0 1-0.448 1-1s-0.448-1-1-1z">
                            </path>
                        </svg>
                    </div>
                </div>
                <span class="text-xl">Messages</span>
            </div>
            <div class="h-8/12 w-full flex flex-col justify-start gap-4 overflow-y-auto" style="max-height: 70%">
                <div v-for="(item, idx) in messages" :key="idx" class="flex justify-start gap-2 w-1/2" 
                :class="item.sender === localUsername ? 'flex-row-reverse self-end' : 'flex-row'">
                    <div class="flex flex-col justify-center items-center">
                        <img src="images/user_1.png" class="h-7 w-7 rounded-full object-cover" alt="user icon">
                        <span class="text-xs text-center">{{item.sender}}</span>
                    </div>
                    <div class="h-fit rounded-xl w-full p-2" 
                    :class="item.sender === localUsername ? 'bg-purple-200' : 'bg-gray-300'" >
                        {{item.content}}
                    </div>
                </div>
            </div>
            <div class="h-1/12 w-full h-14 border border-gray-500 rounded-xl p-2 flex flex-row justify-between items-center gap-4">
                <input v-model="currentMessage" type="text" class="h-10 border border-gray-500 px-4" placeholder="Message" style="width: 100%!important;" />
                <div class="w-10 h-10 cursor-pointer" @click="sendMessage">
                    <svg fill="#ccc" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	                     viewBox="0 0 24 24" xml:space="preserve">

                    <g id="surface1">
                        <path d="M2,3v7.8L18,12L2,13.2V21l20-9L2,3z"/>
                    </g>
                    <rect style="fill:none;" width="24" height="24"/>
                </svg>
                </div>
            </div>
        </div>
      </div>
      <!--login popup -->
      <div class="absolute top-0 left-0 right-0 bottom-0 bg-black/30 flex flex-row justify-center items-center" v-if="showLoginPopup">
        <div class="w-72 h-fit bg-white rounded-xl p-4 text-center flex flex-col justify-center items-center gap-4">
            <h1 class="text-lg">Please enter your username</h1>
            <input v-model="username" type="text" class="h-8 border border-gray-500 px-4" placeholder="Username" style="width: 100%!important;" />
            <button @click="login" class="bg-gray-300 p-4 rounded-xl h-4 flex flex-row items-center justify-center hover:bg-gray-400" style="border: none;"><span>Submit</span></button>
        </div>
      </div>
      <!--room popup -->
      <div class="absolute top-0 left-0 right-0 bottom-0 bg-black/30 flex flex-row justify-center items-center" v-if="showRoomPopup">
        <div class="w-72 h-fit bg-white rounded-xl p-4 text-center flex flex-col justify-center items-center gap-4 relative">
            <div class="absolute top-2 right-2 h-4 w-4 cursor-pointer" @click="toggleRoomPopup(false)">
                <svg width="100%" height="100%" viewBox="0 -0.5 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
                    <title>close [#1511]</title>
                    <desc>Created with Sketch.</desc>
                    <defs>

                </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Dribbble-Light-Preview" transform="translate(-419.000000, -240.000000)" fill="#000000">
                            <g id="icons" transform="translate(56.000000, 160.000000)">
                                <polygon id="close-[#1511]" points="375.0183 90 384 98.554 382.48065 100 373.5 91.446 364.5183 100 363 98.554 371.98065 90 363 81.446 364.5183 80 373.5 88.554 382.48065 80 384 81.446">

                </polygon>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <h1 class="text-lg">Please enter room title</h1>
            <input v-model="roomTitle" type="text" class="h-8 border border-gray-500 px-4" placeholder="Title" style="width: 100%!important;" />
            <button @click="createRoom(false)" class="bg-gray-300 p-4 rounded-xl h-4 flex flex-row items-center justify-center hover:bg-gray-400" style="border: none;"><span>Submit</span></button>
        </div>
      </div>
            <!--friend popup -->
      <div class="absolute top-0 left-0 right-0 bottom-0 bg-black/30 flex flex-row justify-center items-center" v-if="showDirectPopup">
        <div class="w-72 h-fit bg-white rounded-xl p-4 text-center flex flex-col justify-center items-center gap-4 relative">
            <div class="absolute top-2 right-2 h-4 w-4 cursor-pointer" @click="toggleDirectPopup(false)">
                <svg width="100%" height="100%" viewBox="0 -0.5 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Dribbble-Light-Preview" transform="translate(-419.000000, -240.000000)" fill="#000000">
                            <g id="icons" transform="translate(56.000000, 160.000000)">
                                <polygon id="close-[#1511]" points="375.0183 90 384 98.554 382.48065 100 373.5 91.446 364.5183 100 363 98.554 371.98065 90 363 81.446 364.5183 80 373.5 88.554 382.48065 80 384 81.446">

                </polygon>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <h1 class="text-lg">Please enter friend's username</h1>
            <input v-model="friendUsername" type="text" class="h-8 border border-gray-500 px-4" placeholder="Username" style="width: 100%!important;" />
            <button @click="createRoom(true)" class="bg-gray-300 p-4 rounded-xl h-4 flex flex-row items-center justify-center hover:bg-gray-400" style="border: none;"><span>Submit</span></button>
        </div>
      </div>
            <!--invite popup -->
      <div class="absolute top-0 left-0 right-0 bottom-0 bg-black/30 flex flex-row justify-center items-center" v-if="showInvitePopup">
        <div class="w-72 h-fit bg-white rounded-xl p-4 text-center flex flex-col justify-center items-center gap-4 relative">
            <div class="absolute top-2 right-2 h-4 w-4 cursor-pointer" @click="toggleInvitePopup(false)">
                <svg width="100%" height="100%" viewBox="0 -0.5 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
                    <title>close [#1511]</title>
                    <desc>Created with Sketch.</desc>
                    <defs>

                </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Dribbble-Light-Preview" transform="translate(-419.000000, -240.000000)" fill="#000000">
                            <g id="icons" transform="translate(56.000000, 160.000000)">
                                <polygon id="close-[#1511]" points="375.0183 90 384 98.554 382.48065 100 373.5 91.446 364.5183 100 363 98.554 371.98065 90 363 81.446 364.5183 80 373.5 88.554 382.48065 80 384 81.446">

                </polygon>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <h1 class="text-lg">Enter user to invite</h1>
            <input v-model="usernameToInvite" type="text" class="h-8 border border-gray-500 px-4" placeholder="Username" style="width: 100%!important;" />
            <button @click="inviteUser" class="bg-gray-300 p-4 rounded-xl h-4 flex flex-row items-center justify-center hover:bg-gray-400" style="border: none;"><span>Submit</span></button>
        </div>
      </div>
    </div>
    <!-- Vue.js -->
    <script src="./scripts//chats.js"></script>
  </body>
</html>
